<div class="mf-generic-radio-button">

    <div [ngSwitch]="isMultiselect">
        <div *ngSwitchCase="false">
            <div 
                *ngFor="let option of options; index as i" 
                [ngClass]="layout">
                <div class="form-check">
                    <input class="form-check-input" type="radio" [name]="unique" [id]="unique + i"
                        [value]="option.value" [(ngModel)]="value" (change)="onChange()">
                    <label class="form-check-label" [for]="unique + i" [innerText]="option.title"></label>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="true">
            Multi select implementation
        </div>
    </div>
</div>