<div class="flex-container">
    <div 
        class="num-element" 
        *ngFor="let number of numbers" 
        [innerText]="number">
    </div>
</div>
<br>

<button class="btn btn-secondary" (click)="addElement()" data-bs-target>
    Add one more element
</button>


<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">No more place anymore!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Clean an array or quit!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quit</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="arrayClean()">Clean an array</button>
            </div>
        </div>
    </div>
</div>