<div class="persons-page">
    persons.page works!
    Hello world!
    <br />
    {{ myProperty.length }}
    <div>
        <div [innerHTML]="myProperty">Внутри DIV ничего не появится</div>
        А тут появится
    </div>
    <div [innerText]="htmlProperty">Внутри DIV ничего не появится</div>
    <div [innerHTML]="htmlProperty">Внутри DIV ничего не появится</div>

    <div (click)="onClickMeClick()">Click on me!</div>
    <div>-------------------------------</div>

    <div class="container">
        <div class="row">
            <div class="col">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" id="name" [(ngModel)]="person.name">

                <label for="id" class="form-label">Id</label>
                <input type="text" id="id" class="form-control" [(ngModel)]="person.id">

                <label for="address" class="form-label">Address</label>
                <input type="text" id="address" class="form-control" [(ngModel)]="person.address">

                <label for="email" class="form-label">Email</label>
                <input type="text" id="email" class="form-control" [(ngModel)]="person.email">

                <label for="gender" class="form-label">Person gender</label>
                <input type="text" id="gender" class="form-control" [(ngModel)]="person.email">
            </div>
            <div class="col">
                Hello, {{ person.name }}, with id {{ person.id }}, living in {{ person.address }}, having email of {{
                person.email }}, with gender {{ person.gender }}
            </div>
        </div>
    </div>

    <div [innerHTML]="cardMessage"></div>

    <!-- {{"Person: " + JSON.stringify(person)}} -->
    -------------------------------------
    <p>
        Person cards:
    </p>

    <mf-person-card *ngFor="let person of personService.persons" 
        [(personName)]="person.name" 
        [(personId)]="person.id"
        [(personAddress)]="person.address" 
        [(personEmail)]="person.email" 
        (onModeChange)="onCardModeChanged($event)"
        (onSaveClicked)="onSaveClicked()" 
        [(personGender)]="person.gender" 
        [personBirthdate]="person.birthdate"
        [personSalary]="person.salary">
    </mf-person-card>

    <p>
        Generic radio buttons:
    </p>
    --------------------------------------
    <mf-generic-multiselect 
        [options]="layoutOptions" 
        [layout]="Layout.Horizontal" 
        [(value)]="selectedPersonLayout"
        [isMultiselect]="false">
    </mf-generic-multiselect>
  
    <mf-generic-multiselect 
        [options]="personOptions" 
        [layout]="selectedPersonLayout[0]" 
        [(value)]="selectedPersons"
        [isMultiselect]="true">
    </mf-generic-multiselect>
   

</div>